h1{
  text-align: center;
  color: #393D84;
  font-size: 45px;
  line-height: 20px;
  margin-bottom: 45px;
}
input{
  margin-bottom: 25px;
  padding: 13px;
  border-radius: 20px;
}

button{
margin-bottom: 15px;
padding: 15px;
border-radius: 20px;
background-color: #393D84;
color: #ffffff;
font-size: 15px
}
.login-box{
  display: flex;
  justify-content: center;
  margin-top: 65px;
  background-color: #AAB3FF;
  border-radius: 14px;
  padding: 15px;
}

.box1{
  margin-right: 35px;
}

.box2_{
  margin-left: 35px;
}
.todo-grid{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-for-tasks{
  justify-content: center;
}

.input-grid{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-left: 20px;
  border-radius: 30px;
  background-color:#edeef0;
}

.filter-input{
  flex:1;
  border:none;
  outline: none;
  background: transparent;
  padding:10px;
  font-weight: 14px;
}
.filter-btn{
border:none;
outline: none;
padding: 16px 50px;
background-color: #393D84;
font-size: 16px;
cursor: pointer;
border-radius: 40px;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding:12px 8px 12px 50px;
  user-select:none;
  cursor: pointer;
  position: relative;
}
ul li::before{
  content:'';
  position:absolute;
  height: 28px;
  width:28px;
  border-radius:50%;
  background-image:url('/media/checked-logo.jpg');
  background-size:cover;
  background-position: center;
  top:12px;
  left:8px;
}
