h1{
  text-align: center;
  color: #393D84;
  font-size: 45px;
  line-height: 20px;
  margin-bottom: 45px;
}
input{
  margin-bottom: 25px;
  padding: 13px;
  border-radius: 20px;
}

button{
margin-bottom: 15px;
padding: 15px;
border-radius: 20px;
background-color: #393D84;
color: #ffffff;
font-size: 15px
}
.login-box{
  display: flex;
  justify-content: center;
  margin-top: 65px;
  background-color: #AAB3FF;
  border-radius: 14px;
  padding: 15px;
}

.box1{
  margin-right: 35px;
}

.box2_{
  margin-left: 35px;
}
.todo-grid{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
